body {
    background-color: #AECFEE;
    color: #2E4E6B;
    font-family:Roboto;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Paytone One";
    font-size:4rem;
    color: #4E5D6B;
    text-align: center;
    
}

header {
    text-align: center;
}
/* Hero Section */
#hero, footer {
    text-align: center;
    background: #4F85B8;
    color: #4E5D6B;
    padding:10px;

}

#hero img {
    width: 350px;
}
/* Bio Section */

#bio {
    text-align: center;
}
/* Hobbies */
#hobbies li:nth-child(2) span {
    color: darkgreen;
    box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.2),
    inset 0 0 12px black;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    }

/* Gallery */

    #gallery {
        border: 5px solid #444E5D6B;
        align-items: center;
    }

    #gallery img {
        max-width: 100%;
        text-align: center;
    }

/* Lit Ipsum */

    #lit {
        border: 5px solid #444E5D6B;
        margin: bottom 2px;
        text-align: center;
        background-color: #AECFEE;
        color: black;
        max-width:100%;
        columns: 40rem;
        font-size: small;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        display: none;

    }

    #lit div {
        padding:2rem;
        max-width: 40rem;
        margin: 0 auto;

    @media screen
       min-width: 60 em
        display:grid;
    grid-template-columns: 2fr 1fr;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
    }